// -----------------------------------------------
// Rodapé
// -----------------------------------------------

#barra-brasil {
  .brasil-flag {
    box-sizing: content-box;
  }
}

// -----------------------------------------------
// Rodapé
// -----------------------------------------------

#footer-brasil {
  background-color: $idg-rodape;
  max-width: 100%;
  padding: 1em 0;
}
