// -----------------------------------------------
// Cores
// -----------------------------------------------

$amarelo-claro: #fc6;
$amarelo-escuro: #e6b657;
$azul-claro: #2c66ce;
$azul-escuro: #2153ae;
$azul-claro-2: #3f7ef4;
$azul-escuro-2: #3972db;
$verde-claro: #33ba7d;
$verde-escuro: #199772;
$vermelho-claro: #ff5151;
$vermelho-escuro: #da4a4a;
$branco: #fff;
$cinza-claro: #eef0f1;
$cinza-medio: #dcdcdc;
$cinza-escuro: #606060;
$preto: #000;

// -----------------------------------------------
// IDG
// -----------------------------------------------

$idg: #3e67b1;
$idg-barra: #7f7f7f;
$idg-rodape: #0042b1;

$idg-header: #f0f2f1;
$idg-header2: #ecedf1;

$idg-texto: $cinza-escuro;
$idg-links: $azul-claro;
$idg-search-icon: #1f4da3;

$idg-border: #d5d5d5;

// -----------------------------------------------
// Grid
// -----------------------------------------------

$grid: 960px;
$espacamento: 40px;
$colunas: 12;

$navigation: 210px;

// -----------------------------------------------
// Fontes
// -----------------------------------------------

$fonts: 'Open Sans', arial, sans-serif;

$h1-size: 35px;
$h1-line-height: 43px;

$h2-size: 25px;
$h2-line-height: 32px;

$h3-size: 20px;
$h3-line-height: 25px;

$font-base: 15px;
$line-height-base: 20px;

$menu: 16px;
$menu-links: 13px;

$pequeno: 11px;

$botoes: 13px;
